.jumbotron {
    background-color: cyan;
    color: black;
    margin-top: 20px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: cyan;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    background-color: ghostwhite;
}

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 5px;
}