$yellow: #fffa19;
$red: #ff0000;
$green: #64914a;
$white: #f1faeb;
$white2: #dcdfd9;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $white2;
    color: black;
    @include margenes(20px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $white2;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    background-color: $white;
}

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 5px;
}