.jumbotron {
  background-color: #dcdfd9;
  color: black;
  margin-top: 20px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #dcdfd9;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  background-color: #f1faeb; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 5px; }
